.idea/
py_36_env/
py_27_env/
__pycache__/
.ipynb_checkpoints/
**.pyc

# virtualenv stuff
bin/
etc/
include/
lib/
pip-selfcheck.json
share/

# GZTAN genre collection directory
collection/**
!collection/.gitkeep
!collection/mp3s/create_mp3s.sh

# directory for fun & profit
ignore/**
